/*Шрифт*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Montserrat:wght@100&display=swap');
.header{
display: flex;
justify-content: space-between;
}
.header__section{
    display: flex;
    align-items: center;
}
/*Номер карты*/
.header__item_Cardnumber{
    position: absolute;
width: 250px;
height: 59px;
left: 502px;
top: 0px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;
display: flex;
align-items: center;
}
/*Главная*/
.header__item_main{
    position: absolute;
width: 1014px;
height: 59px;
left: 850px;
top: 0px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 13px;
line-height: 15px;
display: flex;
align-items: center;
text-align: right;
text-transform: uppercase;
}
/*Бронирование*/
.header__item_booking{
    position: absolute;
width: 214px;
height: 59px;
left: 970px;
top: 0px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 20px;
display: flex;
align-items: center;   
}
/*История моих посещений*/
.header__item_history_visiting{
    position: absolute;
    width: 214px;
    height: 59px;
    left: 1120px;
    top: 0px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 250;
    font-size: 13px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: rgb(128, 123, 123);   
}
/*История бонусов*/
.header__item_bonuses{
    position: absolute;
    width: 214px;
    height: 59px;
    left: 1340px;
    top: 0px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    display: flex;
    align-items: center 
}
/*Выход*/
.header__item_output{
    position: absolute;
    width: 214px;
    height: 59px;
    left: 1496px;
    top: 0px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    display: flex;
    align-items: center;    
}
.header__item:hover{
    padding: 14px 20px;
    font-size: 20px;
    margin-left: 5px;
}
.header__item:hover{
    background-color: 
    #2c2a2a;
    border-radius: 2px;
}
/*Логотип*/
.headerlogo{
    position: absolute;
width: 177px;
height: 59px;
left: 387px;
top: 0px;

font-family: caveat;
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 38px;
display: flex;
align-items: center;
text-transform: uppercase;

color: #1ACD4C;

}
.headerButton{
    cursor: pointer;
}
.img{
    position: absolute;
width: 1157px;
height: 746px;
left: 376px;
top: 14px;

background: url(.png);
opacity: 0.3;
}
/*История моих посещений*/
.simple{
    position: absolute;
    width: 517px;
    height: 41px;
    left: 387px;
    top: 150px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 900;
    line-height: 37px
color: #FFFFFF;

}
/*table*/
.li{
    position: absolute;
width: 1146px;
height: 53px;
left: 4px;
top: 100px;

background: #131313;
border: 1px solid #272727;
box-sizing: border-box;
}
.li_2{
    position: absolute;
width: 1146px;
height: 53px;
left: 4px;
top: 150px;

background: #131313;
border: 1px solid #272727;
box-sizing: border-box;
}
.li_3{
    position: absolute;
width: 1146px;
height: 53px;
left: 4px;
top: 200px;

background: #131313;
border: 1px solid #272727;
box-sizing: border-box;
}
.li_4{
    position: absolute;
width: 1146px;
height: 53px;
left: 4px;
top: 250px;

background: #131313;
border: 1px solid #272727;
box-sizing: border-box;
}
.li_5{
    position: absolute;
width: 1146px;
height: 53px;
left: 4px;
top: 300px;

background: #131313;
border: 1px solid #272727;
box-sizing: border-box;
}
.li_6{
    position: absolute;
width: 1146px;
height: 53px;
left: 4px;
top: 350px;

background: #131313;
border: 1px solid #272727;
box-sizing: border-box;
}
.li_7{
    position: absolute;
width: 1146px;
height: 53px;
left: 4px;
top: 400px;

background: #131313;
border: 1px solid #272727;
box-sizing: border-box;
}
.li_8{
    position: absolute;
    width: 1146px;
    height: 53px;
    left: 4px;
    top: 450px;
    
    background: #131313;
    border: 1px solid #272727;
    box-sizing: border-box;
}
.li_9{
    position: absolute;
width: 1146px;
height: 53px;
left: 4px;
top: 500px;

background: #131313;
border: 1px solid #272727;
box-sizing: border-box;
}
.li_10{
    
position: absolute;
width: 1146px;
height: 53px;
left: 4px;
top: 550px;

background: #131313;
border: 1px solid #272727;
box-sizing: border-box;
}
/* Дата посещения */
.top{
    position: absolute;
width: 151px;
height: 23px;
left: 407px;
top: 222px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 13px;
line-height: 16px;
display: flex;
align-items: center;
text-transform: uppercase;

color: #727272;0.
}
/* Количество кальянов */
.letter{
    position: absolute;
width: 204px;
height: 23px;
left: 697px;
top: 222px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 13px;
line-height: 16px;
display: flex;
align-items: center;
text-transform: uppercase;

color: #727272;

}
/* Количество людей */
.people{
    position: absolute;
width: 204px;
height: 23px;
left: 997px;
top: 222px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 13px;
line-height: 16px;
display: flex;
align-items: center;
text-transform: uppercase;

color: #727272;

}
/* Время */
.time{
    position: absolute;
width: 204px;
height: 23px;
left: 1297px;
top: 222px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 13px;
line-height: 16px;
display: flex;
align-items: center;
text-transform: uppercase;

color: #727272;

}
/* 18/07/2019 */
.data{
    position: absolute;
width: 214px;
height: 53px;
left: 412px;
top: 245px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;
display: flex;
align-items: center;

color: #FFFFFF;
}
/* 5 штук */
.data_2{
    position: absolute;
width: 214px;
height: 53px;
left: 702px;
top: 245px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;
display: flex;
align-items: center;

color: #FFFFFF;
}
/* 10 человек */
.data_3{
    position: absolute;
width: 214px;
height: 53px;
left: 1002px;
top: 245px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;
display: flex;
align-items: center;

color: #FFFFFF;
}
/* 3 часа */
.data_4{
    position: absolute;
width: 214px;
height: 53px;
left: 1302px;
top: 245px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;
display: flex;
align-items: center;

color: #FFFFFF;

}
/* 18/07/2019 */
.data_5{
    position: absolute;
width: 214px;
height: 53px;
left: 412px;
top: 297px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;
display: flex;
align-items: center;

color: #FFFFFF;

}
/* 5 штук */
.data_6{
    position: absolute;
width: 214px;
height: 53px;
left: 702px;
top: 297px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;
display: flex;
align-items: center;

color: #FFFFFF;

}
.data_7{
    position: absolute;
width: 214px;
height: 53px;
left: 1002px;
top: 297px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;
display: flex;
align-items: center;

color: #FFFFFF
}
.data_8{
    position: absolute;
width: 214px;
height: 53px;
left: 1302px;
top: 297px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;
display: flex;
align-items: center;

color: #FFFFFF;

}
.data_9{
    
position: absolute;
width: 214px;
height: 53px;
left: 412px;
top: 349px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;
display: flex;
align-items: center;

color: #FFFFFF;

}
.data_10{
    position: absolute;
width: 214px;
height: 53px;
left: 702px;
top: 349px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;
display: flex;
align-items: center;

color: #FFFFFF;

}
.data_11{
    position: absolute;
width: 214px;
height: 53px;
left: 1002px;
top: 349px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;
display: flex;
align-items: center;

color: #FFFFFF;
}
.data_12{
    position: absolute;
width: 214px;
height: 53px;
left: 1302px;
top: 349px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;
display: flex;
align-items: center;

color: #FFFFFF;

}
.data_13{
    position: absolute;
width: 214px;
height: 53px;
left: 412px;
top: 401px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;
display: flex;
align-items: center;

color: #FFFFFF;

}
.data_14{
    position: absolute;
width: 214px;
height: 53px;
left: 702px;
top: 401px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;
display: flex;
align-items: center;

color: #FFFFFF;

}
.data_15{
    position: absolute;
width: 214px;
height: 53px;
left: 1002px;
top: 401px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;
display: flex;
align-items: center;

color: #FFFFFF;

}
.data_16{
    position: absolute;
width: 214px;
height: 53px;
left: 1302px;
top: 401px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;
display: flex;
align-items: center;

color: #FFFFFF;

}
.data_17{
    position: absolute;
width: 214px;
height: 53px;
left: 412px;
top: 453px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;
display: flex;
align-items: center;

color: #FFFFFF;

}
.data_18{
    position: absolute;
width: 214px;
height: 53px;
left: 702px;
top: 453px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;
display: flex;
align-items: center;

color: #FFFFFF;

}
.data_19{
    position: absolute;
width: 214px;
height: 53px;
left: 1002px;
top: 453px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;
display: flex;
align-items: center;

color: #FFFFFF;

}
.data_20{
    position: absolute;
width: 214px;
height: 53px;
left: 1302px;
top: 453px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;
display: flex;
align-items: center;

color: #FFFFFF;

}
.data_21{
    position: absolute;
width: 214px;
height: 53px;
left: 412px;
top: 505px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;
display: flex;
align-items: center;

color: #FFFFFF;

}
.data_22{
    position: absolute;
width: 214px;
height: 53px;
left: 702px;
top: 505px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;
display: flex;
align-items: center;

color: #FFFFFF;
}
.data_23{
    position: absolute;
width: 214px;
height: 53px;
left: 1002px;
top: 505px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;
display: flex;
align-items: center;

color: #FFFFFF;

}
.data_24{
    position: absolute;
width: 214px;
height: 53px;
left: 1302px;
top: 505px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;
display: flex;
align-items: center;

color: #FFFFFF;
 
}
.data_25{
    position: absolute;
width: 214px;
height: 53px;
left: 412px;
top: 557px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;
display: flex;
align-items: center;

color: #FFFFFF;

}
.data_26{
    position: absolute;
width: 214px;
height: 53px;
left: 702px;
top: 557px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;
display: flex;
align-items: center;

color: #FFFFFF;

}
.data_27{
    position: absolute;
width: 214px;
height: 53px;
left: 1002px;
top: 557px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;
display: flex;
align-items: center;

color: #FFFFFF
}
.data_28{
    position: absolute;
    width: 214px;
    height: 53px;
    left: 1302px;
    top: 557px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    
    color: #FFFFFF;
    
}
.data_29{
    position: absolute;
width: 214px;
height: 53px;
left: 412px;
top: 609px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;
display: flex;
align-items: center;

color: #FFFFFF;

}
.data_30{
    position: absolute;
width: 214px;
height: 53px;
left: 702px;
top: 609px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;
display: flex;
align-items: center;

color: #FFFFFF;

}
.data_31{
    position: absolute;
width: 214px;
height: 53px;
left: 1002px;
top: 609px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;
display: flex;
align-items: center;

color: #FFFFFF;

}
.data_32{
    position: absolute;
width: 214px;
height: 53px;
left: 1302px;
top: 609px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;
display: flex;
align-items: center;

color: #FFFFFF;

}
.data_33{
    position: absolute;
width: 214px;
height: 53px;
left: 412px;
top: 661px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;
display: flex;
align-items: center;

color: #FFFFFF;

}
.data_34{
    position: absolute;
width: 214px;
height: 53px;
left: 702px;
top: 661px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;
display: flex;
align-items: center;

color: #FFFFFF;

}
.data_35{
    position: absolute;
width: 214px;
height: 53px;
left: 1002px;
top: 661px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;
display: flex;
align-items: center;

color: #FFFFFF;

}
.data_36{
    position: absolute;
width: 214px;
height: 53px;
left: 1302px;
top: 661px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;
display: flex;
align-items: center;

color: #FFFFFF;

}
.data_37{
    position: absolute;
width: 214px;
height: 53px;
left: 412px;
top: 713px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;
display: flex;
align-items: center;

color: #FFFFFF;

}
.data_38{
    position: absolute;
width: 214px;
height: 53px;
left: 702px;
top: 713px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;
display: flex;
align-items: center;

color: #FFFFFF;
}
.data_39{
    position: absolute;
width: 214px;
height: 53px;
left: 1002px;
top: 713px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;
display: flex;
align-items: center;

color: #FFFFFF;

}
.data_40{
    position: absolute;
width: 214px;
height: 53px;
left: 1302px;
top: 713px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;
display: flex;
align-items: center;

color: #FFFFFF;

}
/*Стрелка1*/
.arrow_right{
    position: absolute;
    width: 147px;
    height: 0px;
    left: 650px;
    top: 810px;
    
    border: 2px solid #272727;
    box-sizing: border-box;
    transform: matrix(-1, 0, 0, 1, 0, 0);
}
/*Стрелка2*/
.arrow_left{
    
position: absolute;
width: 147px;
height: 0px;
left: 1091px;
top: 810px;

border: 2px solid #FFFFFF;
box-sizing: border-box;
}
.number{
    position: absolute;
width: 44px;
height: 35px;
left: 877px;
top: 792px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;
display: flex;
align-items: center;
text-align: center;

color: #4F4F4F;

}
.number_2{
    position: absolute;
width: 44px;
height: 35px;
left: 921px;
top: 792px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;

}
.number_4{
    position: absolute;
width: 44px;
height: 35px;
left: 965px;
top: 792px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;

}
.number_5{
    position: absolute;
width: 44px;
height: 35px;
left: 1009px;
top: 792px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;

}